@using completed_project.Models;
@model Contact
<div class="text-center">

    <h4 class="p-5">Add a New Contact</h4>
    <div class="d-flex justify-content-center">
        @using (Html.BeginForm("Add", "Contacts", FormMethod.Post))
        {
            <table>

                <tr>
                    <td>
                       @Html.LabelFor(contact => contact.Name)
                    </td>
                    <td>
                       @Html.EditorFor(contact => contact.Name)
                    </td>
                </tr>

                <tr>
                    <td>
                       @Html.LabelFor(contact => contact.Email)
                    </td>
                    <td>
                        @Html.EditorFor(contact => contact.Email)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(contact => contact.PhoneNumber)
                    </td>
                    <td>
                        @Html.EditorFor(contact => contact.PhoneNumber)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(contact => contact.Website)
                    </td>
                    <td>
                        @Html.EditorFor(contact => contact.Website)
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="d-flex justify-content-end">

                        @Html.ActionLink("Back to List", "List", new{}, new {@class="btn btn-secondary"})


                        <button class="btn btn-primary" type="submit">Add</button>
                    </td>
                </tr>

            </table>

        }
    </div>
</div>