@model completed_project.Controllers.Contact
<div class="text-center">
    <h4 class="p-5">Contact Details</h4>
    <div class="d-flex justify-content-center">
        <table>

            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input value="@Model.Name" placeholder="Name" name="Name" disabled />
                </td>
            </tr>

            <tr>
                <td>
                    Email
                </td>
                <td>
                    @Html.EditorFor(contact => contact.Email
                    , new { htmlAttributes = new { placeholder="Email", disabled="disabled"}})
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(contact => contact.PhoneNumber)
                </td>
                <td>
                    @Html.EditorFor(contact => contact.PhoneNumber
                    , new { htmlAttributes = new { placeholder = Html.DisplayNameFor(c => c.PhoneNumber),
                    disabled="disabled"}})
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(contact => contact.Website)
                </td>
                <td>
                    @Html.EditorFor(contact => contact.Website
                    , new { htmlAttributes = new { placeholder = Html.DisplayNameFor(c =>
                    c.Website),disabled="disabled"}})
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td class="d-flex justify-content-end">
                    @Html.ActionLink("Back to List", "List"
                    , new{}
                    , new {@class="btn btn-secondary"})

                    @using (Html.BeginForm("Delete", "Contacts", FormMethod.Post))
                    {
                        <input value="@Model.Name" id="contactName" name="contactName" hidden />
                        <button class="btn btn-primary" type="submit">Delete</button>
                    }
                </td>
            </tr>

        </table>
    </div>
</div>